/* Navigation  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.9rem;
    padding: 0px 7px;
}
/* Home section  */
#home{
     height: 304px;
     padding: 3px 35px;

}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}

/* Service section  */
 #services{
    flex-direction: column;
 }
/* Client section  */

/* Contact section  */
 

/* Footer */
/* Utility classes  */
.h-primary{
    font-size: 26px;
}
